# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/source-sdk/.vs/
/source-sdk/build/
/source-sdk/.vs/source-sdk/v17/.suo
/source-sdk/.vs/source-sdk/v17/DocumentLayout.json
