# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/source-sdk/.vs/source-sdk/FileContentIndex/3d9f9ec8-b714-40f0-98ed-b7e3eb1fdd96.vsidx
/source-sdk/.vs/source-sdk/v17/Browse.VC.opendb
/source-sdk/.vs/source-sdk/v17/Browse.VC.db
